.sb-search-wrapper {
  display: flex;
  height: 126px;
  width: 300px;
  justify-content: flex-end;
  align-items: flex-end;
}

@media only screen and (max-width: 576px) {
  .sb-search-wrapper {
    width: 100%;
  }
}

.sb-search {
  position: relative;
  width: 0%;
  min-width: 70px;
  height: 35px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  transition: width 0.4s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.sb-search-input {
  background-color: #2153a3;
  border: none;
  border-bottom: 3px solid #fff;
  color: #fff;
  font-size: 14px;
  height: 35px;
  padding: 7px 66px 7px 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.sb-search-input:focus {
  outline: none;
}

input[type="search"].sb-search-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.sb-search-input::-webkit-input-placeholder,
.sb-search-input:-moz-placeholder,
.sb-search-input::-moz-placeholder,
.sb-search-input:-ms-input-placeholder {
  color: #fff;
}

.sb-icon-search,
.sb-search-submit {
  width: 70px;
  height: 35px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.sb-search-submit {
  background-color: #fff;
  opacity: 0;
  z-index: -1;
}

.sb-icon-search {
  background-color: #09357b;
  border: none;
  border-bottom: 3px solid #fff;
  z-index: 90;
}

.sb-search.sb-search-open {
  width: 100%;
}

.sb-search.sb-search-open .sb-icon-search {
  background: #2153a3;
  color: #fff;
  z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit {
  z-index: 90;
}
